footer {
    padding: 0.25rem 4rem;
    background-color: black;
    font-weight: 1000;
    font-size: 2vh;
    margin: 0rem -0.5rem;
}

footer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

footer .options{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.cont {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

footer img {
    width: 4vw;
}

#gmail, #github, #linkedin{
    padding-right: 1.5rem;
}

#github {
    margin-right: -1rem;
}

#gmail {
    width: 2vw;
}

footer a{
    text-decoration: none;
    color: white;
}

footer .cont:hover, a:hover{
    color: gray;
}