header {
    display: flex;
    background-color: #222222;
    padding: 0.5rem 3rem;
    font-size: 2vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0rem -0.5rem;
    position: sticky;
    top: 0;
}

header img{
    width: 7vh;
    color: black;
}

header .Lists {
    display: flex;
    gap: 3rem;
}

header .Lists a {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

header .Lists a:hover {
    color: gray;
}