header {
    display: flex;
    background-color: #222222;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    position: sticky;
    top: 0;
}

header img{
    width: 4rem;
    color: black;
}

header .Lists {
    display: flex;
    gap: 3rem;
}

header .Lists a {
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
}