header {
    display: flex;
    background-color: #222222;
    padding: 1.5vh 3vw;
    font-size: 2vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0vh -0.5vw;
    margin-top: -2vh;
    position: sticky;
    top: 0;
}

header img{
    width: 7vh;
    color: black;
    
}

header .Lists {
    display: flex;
    gap: 3vw;
}

header .Lists a {
    padding: 0.5vh 1vw;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

header .Lists a:hover {
    color: gray;
}