
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    height: 100%;
    scroll-padding-top: 7vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    color: white;
    background-color: #222222;
    position: sticky;
    font-family: 'Poppins', sans-serif;
}

.Home {
    display: flex;
    padding: 9vh 17vw;
    padding-bottom: 0vh;
    margin: 2vh -2.5vw;
    align-items: center;
    background-color: #111111;
    justify-content: space-around;
}

.Home .Intro {
    display: grid;
    justify-items: left;
    margin-top: -8vh;
}

.Home .Intro p {
    line-height: 3rem;
    font-size: 3.5vh;
    font-weight: 500;
}

.Home #name {
    display: flex;
    font-size: 8vh;
    margin-top: -2rem;
    margin-bottom: -2rem;
    line-height: 4rem;
    font-weight: 1000;
}

.Home #self{
    display: flex;
    width: 57vh;
}

.About {
    margin-top: -3rem;
    padding-top: 5rem;
}

.About #AboutMe {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.5vh;
}

.About .differentAbout {
    display: flex;
    margin: 3vh 8vh;
    justify-content: space-between;
}

.differentAbout img {
    height: 30vh;
    width: auto;
    max-width: 100%;
}

.differentAbout div {
    display: grid;
    justify-items: center;
}

.differentAbout h2 {
    text-decoration: underline;
    font-size: 3vh;
}

.differentAbout p {
    text-align: justify;
    width: 27vw;
    font-size: 2vh;
}

.port {
    margin-top: 20vh;
    font-size: 2vh;
}

.port #Portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
}

#theButton, #calcuApp {
    display: flex;
    justify-content: space-between;
    gap: 7vh;
    margin: 8vh 10vh;
    align-items: center;
    text-align: justify;
}

.port a {
    text-decoration: none;
    color: white;
    font-size: 1.8vh;
    padding: 1vh 2vh;
    background-color: black;
    border-radius: 5vh;
}

.port a:hover {
    color: gray;
}

.port .description {
    display: block;
}

.port .description h1 {
    font-size: 3vh;
}
.port img {
    display: block;
    border-radius: 2.5vh;
    height: 70vh;
    width: auto;
    max-width: 100%;
}