
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    color: white;
    background-color: #222222;
    position: sticky;
    font-family: 'Poppins', sans-serif;
}

.Home {
    display: flex;
    padding: 8vh 30vh;
    padding-bottom: 0vh;
    margin: 2vh -5vh;
    align-items: center;
    background-color: #111111;
    justify-content: space-around;
}

.Home .Intro {
    display: block;
    margin-top: -8vh;
}

.Home .Intro p {
    line-height: 3rem;
    font-size: 3.5vh;
    font-weight: 500;
}

.Home #name {
    display: flex;
    font-size: 8vh;
    margin-top: -2rem;
    margin-bottom: -2rem;
    line-height: 4rem;
    font-weight: 1000;
}

.Home #self{
    display: flex;
    width: 57vh;
}

.About {
    margin-top: -3rem;
    padding-top: 5rem;
}

.About #AboutMe {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 2.5vh;
}

.About .differentAbout {
    display: flex;
    margin: 3vh 8vh;
    justify-content: space-between;
}

.differentAbout img {
    height: 30vh;
    width: auto;
    max-width: 100%;
}

.differentAbout .images, h2, p {
    display: flex;
    justify-content: center;
}

.differentAbout h2 {
    text-decoration: underline;
    font-size: 3vh;
}

.differentAbout p {
    text-align: justify;
    width: 27vw;
    font-size: 2vh;
}

.port {
    padding-top: 5rem;
}

.port #Portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
}

#theButton, #calcuApp {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin: 4rem 6rem;
    align-items: center;
}

.port a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    background-color: black;
    border-radius: 5rem;
}

.port a:hover {
    color: gray;
}

.port .description {
    display: block;
}

.port .description .h1 {
    font-size: 1rem;
}
.port img {
    display: block;
    border-radius: 3rem;
}

#theButton img {
    height: 40rem;
}

#calcuApp img {
    height: 40rem;
}

#theButton p {
    margin-right: 3rem;
}